.apicard{
    display: none;
}
.glass-success {
    background-color: rgba(25, 135, 84, 0.3) !important;    
}

.response{
    max-width: 100px;
}
.jsonbtn{
    display: block;
}
.options{
    display: block;
}
.body{
    display: block;
}
.request-status{
    max-width: 100px;
}
.background{
    background-color: rgb(98, 58, 134);
}